// body {
//   padding-top: $header-height + $header-padding-y;
// }
*:not(i),
body,
html {
  font-family: "Almarai", sans-serif !important;
}
.big-post-title {
  .big-post-title-inner {
    .post-header-line-1 .timestamp-link {
      color: $light-white;
    }
    .post-body.entry-content {
      color: white;
    }
    .post-bottom {
      a.flat-button,
      a.comment-link.flat-button,
      button[aria-label="Share"] {
        color: $light-white;
      }
    }
  }
}
.header-image-wrapper {
  img {
    width: 234px;
    transform: translate(8px, -3px);
    @media screen and (min-width: $sm) {
      width: 400px;
    }
  }
}
.post-title-container {
  @extend .hide;
}
.widget-content {
  .social-media {
    ul {
      display: grid;
      list-style: none;
      text-align: center;
      justify-content: center;
      grid-template-columns: 4rem 4rem 4rem;
      padding: 0;
      margin: 0;
      li {
        a {
          svg {
            height: 27px;
            fill: rgba(white, 0.95);
            transition: 0.3s ease;
            &:hover {
              fill: rgba(white, 0.5);
            }
          }
        }
      }
    }
  }
}
